.profile {
  display: flex;
  flex-direction: row;
  margin: 0 auto 51px;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    margin-bottom: 36px;
  }
}
