.gallery-card__like-button {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  box-sizing: border-box;
  background-color: #FFFFFF;
  background-image: url(../../../images/like-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.gallery-card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
