.popup__field{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 1px;
}

.popup__field:last-of-type {
  margin-bottom: 19px;
}

@media screen and (max-width: 1023px) {
  .popup__field:last-of-type {
    margin-bottom: 16px;
  }
}
